In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,SKU,Product description,Quantity,Added date,Name,Product_Name,Costing,MRP,Color,Size
0,034BK06R,Thermal Skinny Outdoor Trousers - Black 36R / ...,1,11/1/2020,Thermal Skinny Outdoor Trousers - Black,Thermal Skinny Outdoor Trousers,34,89.0,Black,36R / UK18
1,034GE03L,Thermal Skinny Outdoor Trousers - Graphite 30L...,1,11/1/2020,Thermal Skinny Outdoor Trousers - Graphite,Thermal Skinny Outdoor Trousers,34,89.0,Graphite,30L / UK12
2,070DM03R,The Skinny Outdoor Jeans - Dark Blue Denim 30R...,1,11/1/2020,The Skinny Outdoor Jeans - Dark Blue Denim,The Skinny Outdoor Jeans,70,120.0,Dark Blue Denim,30R / UK12
3,048BK03,Thermal Seamless Base Layer Top - Black Medium...,1,11/1/2020,Thermal Seamless Base Layer Top - Black,Thermal Seamless Base Layer Top,48,49.0,Black,Medium - Large
4,051BK04P,Mid-Weight MAX Stretch Skinny Outdoor Trousers...,1,11/1/2020,Mid-Weight MAX Stretch Skinny Outdoor Trousers...,Mid Weight MAX Stretch Skinny Outdoor Trousers,51,72.0,Black,32P / UK14

In [4]:
df.shape

(44709, 10)

In [5]:
df.isnull().sum()

SKU                     0
Product description     0
Quantity                0
Added date              0
Name                    0
Product_Name            0
Costing                 0
MRP                    10
Color                   0
Size                    0
dtype: int64

In [6]:
df['MRP'].unique()

array([ 89., 120.,  49.,  72.,  79.,  70.,  82.,  64.,  55.,  59.,  34.,
         0.,  75.,  15.,  16.,  29.,  45.,  44.,  81.,  22.,  12.,  95.,
       110.,  52.,  nan])

In [7]:
df[df['MRP'].isnull()]

,SKU,Product description,Quantity,Added date,Name,Product_Name,Costing,MRP,Color,Size
44328,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/11/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44341,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/11/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44354,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/12/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44359,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/12/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44406,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/15/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44411,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/15/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44416,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/15/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44475,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/18/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44506,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/20/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44705,134DY03,Mid Length Trek Shorts - Deep Navy 30 / UK12,1,6/30/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,30 / UK12

In [8]:
df[(df['Name']=='Mid Length Trek Shorts - Deep Navy') & (df['Product_Name']=='Mid Length Trek Shorts')]

,SKU,Product description,Quantity,Added date,Name,Product_Name,Costing,MRP,Color,Size
44328,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/11/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44341,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/11/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44354,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/12/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44359,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/12/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44406,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/15/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44411,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/15/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44416,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/15/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44475,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/18/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44506,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/20/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44705,134DY03,Mid Length Trek Shorts - Deep Navy 30 / UK12,1,6/30/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,30 / UK12

In [9]:
df[df['Product description']=='Mid Length Trek Shorts - Deep Navy 30 / UK12']

,SKU,Product description,Quantity,Added date,Name,Product_Name,Costing,MRP,Color,Size
44705,134DY03,Mid Length Trek Shorts - Deep Navy 30 / UK12,1,6/30/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,30 / UK12

In [10]:
df[df['Product description']=='Mid Length Trek Shorts - Deep Navy 28 / UK10']

,SKU,Product description,Quantity,Added date,Name,Product_Name,Costing,MRP,Color,Size
44328,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/11/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44341,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/11/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44354,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/12/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44359,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/12/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44406,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/15/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44411,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/15/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44416,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/15/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44475,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/18/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10
44506,134DY02,Mid Length Trek Shorts - Deep Navy 28 / UK10,1,6/20/2022,Mid Length Trek Shorts - Deep Navy,Mid Length Trek Shorts,134,NaN,Deep Navy,28 / UK10

In [11]:
df['MRP']=df['MRP'].fillna('Missing_sales_amount')

In [12]:
df.isnull().sum()

SKU                    0
Product description    0
Quantity               0
Added date             0
Name                   0
Product_Name           0
Costing                0
MRP                    0
Color                  0
Size                   0
dtype: int64

In [13]:
df['Month']=df['Added date'].str.split('/').str[0]
df['Day']=df['Added date'].str.split('/').str[1]
df['Year']=df['Added date'].str.split('/').str[2]

In [14]:
df.head()

,SKU,Product description,Quantity,Added date,Name,Product_Name,Costing,MRP,Color,Size,Month,Day,Year
0,034BK06R,Thermal Skinny Outdoor Trousers - Black 36R / ...,1,11/1/2020,Thermal Skinny Outdoor Trousers - Black,Thermal Skinny Outdoor Trousers,34,89.0,Black,36R / UK18,11,1,2020
1,034GE03L,Thermal Skinny Outdoor Trousers - Graphite 30L...,1,11/1/2020,Thermal Skinny Outdoor Trousers - Graphite,Thermal Skinny Outdoor Trousers,34,89.0,Graphite,30L / UK12,11,1,2020
2,070DM03R,The Skinny Outdoor Jeans - Dark Blue Denim 30R...,1,11/1/2020,The Skinny Outdoor Jeans - Dark Blue Denim,The Skinny Outdoor Jeans,70,120.0,Dark Blue Denim,30R / UK12,11,1,2020
3,048BK03,Thermal Seamless Base Layer Top - Black Medium...,1,11/1/2020,Thermal Seamless Base Layer Top - Black,Thermal Seamless Base Layer Top,48,49.0,Black,Medium - Large,11,1,2020
4,051BK04P,Mid-Weight MAX Stretch Skinny Outdoor Trousers...,1,11/1/2020,Mid-Weight MAX Stretch Skinny Outdoor Trousers...,Mid Weight MAX Stretch Skinny Outdoor Trousers,51,72.0,Black,32P / UK14,11,1,2020

In [15]:
df.drop('Added date',inplace=True,axis=1)

In [16]:
df.head()

,SKU,Product description,Quantity,Name,Product_Name,Costing,MRP,Color,Size,Month,Day,Year
0,034BK06R,Thermal Skinny Outdoor Trousers - Black 36R / ...,1,Thermal Skinny Outdoor Trousers - Black,Thermal Skinny Outdoor Trousers,34,89.0,Black,36R / UK18,11,1,2020
1,034GE03L,Thermal Skinny Outdoor Trousers - Graphite 30L...,1,Thermal Skinny Outdoor Trousers - Graphite,Thermal Skinny Outdoor Trousers,34,89.0,Graphite,30L / UK12,11,1,2020
2,070DM03R,The Skinny Outdoor Jeans - Dark Blue Denim 30R...,1,The Skinny Outdoor Jeans - Dark Blue Denim,The Skinny Outdoor Jeans,70,120.0,Dark Blue Denim,30R / UK12,11,1,2020
3,048BK03,Thermal Seamless Base Layer Top - Black Medium...,1,Thermal Seamless Base Layer Top - Black,Thermal Seamless Base Layer Top,48,49.0,Black,Medium - Large,11,1,2020
4,051BK04P,Mid-Weight MAX Stretch Skinny Outdoor Trousers...,1,Mid-Weight MAX Stretch Skinny Outdoor Trousers...,Mid Weight MAX Stretch Skinny Outdoor Trousers,51,72.0,Black,32P / UK14,11,1,2020

In [17]:
df.isnull().sum()

SKU                    0
Product description    0
Quantity               0
Name                   0
Product_Name           0
Costing                0
MRP                    0
Color                  0
Size                   0
Month                  0
Day                    0
Year                   0
dtype: int64

In [18]:
df.to_csv('new_data.csv')

In [19]:
df=pd.read_csv('new_data.csv')

In [20]:
df.head()

,Unnamed: 0,SKU,Product description,Quantity,Name,Product_Name,Costing,MRP,Color,Size,Month,Day,Year
0,0,034BK06R,Thermal Skinny Outdoor Trousers - Black 36R / ...,1,Thermal Skinny Outdoor Trousers - Black,Thermal Skinny Outdoor Trousers,34,89.0,Black,36R / UK18,11,1,2020
1,1,034GE03L,Thermal Skinny Outdoor Trousers - Graphite 30L...,1,Thermal Skinny Outdoor Trousers - Graphite,Thermal Skinny Outdoor Trousers,34,89.0,Graphite,30L / UK12,11,1,2020
2,2,070DM03R,The Skinny Outdoor Jeans - Dark Blue Denim 30R...,1,The Skinny Outdoor Jeans - Dark Blue Denim,The Skinny Outdoor Jeans,70,120.0,Dark Blue Denim,30R / UK12,11,1,2020
3,3,048BK03,Thermal Seamless Base Layer Top - Black Medium...,1,Thermal Seamless Base Layer Top - Black,Thermal Seamless Base Layer Top,48,49.0,Black,Medium - Large,11,1,2020
4,4,051BK04P,Mid-Weight MAX Stretch Skinny Outdoor Trousers...,1,Mid-Weight MAX Stretch Skinny Outdoor Trousers...,Mid Weight MAX Stretch Skinny Outdoor Trousers,51,72.0,Black,32P / UK14,11,1,2020

In [21]:
df.shape

(44709, 13)

In [23]:
df.describe()

         Unnamed: 0  Quantity         Month           Day          Year
count  44709.000000   44709.0  44709.000000  44709.000000  44709.000000
mean   22354.000000       1.0      5.786396     15.172963   2020.856942
std    12906.520929       0.0      4.408251      8.828001      0.589358
min        0.000000       1.0      1.000000      1.000000   2020.000000
25%    11177.000000       1.0      2.000000      8.000000   2020.000000
50%    22354.000000       1.0      4.000000     14.000000   2021.000000
75%    33531.000000       1.0     11.000000     23.000000   2021.000000
max    44708.000000       1.0     12.000000     31.000000   2022.000000

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44709 entries, 0 to 44708
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           44709 non-null  int64
 1   SKU                  44709 non-null  object
 2   Product description  44709 non-null  object
 3   Quantity             44709 non-null  int64
 4   Name                 44709 non-null  object
 5   Product_Name         44709 non-null  object
 6   Costing              44709 non-null  object
 7   MRP                  44709 non-null  object
 8   Color                44709 non-null  object
 9   Size                 44709 non-null  object
 10  Month                44709 non-null  int64
 11  Day                  44709 non-null  int64
 12  Year                 44709 non-null  int64
dtypes: int64(5), object(8)
memory usage: 4.4+ MB